.card-list {
  display: grid;
  grid-gap: var(--spacing);
  align-items: stretch;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  padding: var(--spacing-small);
  border-radius: 10px;
  background-color: var(--c-card-bkg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--c-card-b);
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 0.5rem;
  }

  &__content,
  &__links,
  &__subtitle {
    font-size: var(--fs-s);
  }

  &__suptitle {
    font-size: var(--fs-xs);
  }

  &__title {
    font-size: var(--fs);

    &:not(:first-child) {
      margin-top: 0.2rem;
    }
  }

  &__links {
    margin-top: auto;
    padding-top: var(--spacing-small);
    display: flex;

    a {
      @mixin background-gradient;

      i {
        display: inline-block;
        -webkit-text-fill-color: var(--c-grad-from);
        color: var(--c-grad-from);
        @mixin transition transform, 100ms;
      }

      &:hover {
        i {
          transform: translateX(10%);
        }
      }

      & + a {
        margin-left: 1.5em;
      }
    }
  }
}
