.content {
  margin: 0 auto;
  padding: var(--spacing-section) 0;
  @mixin desktop {
    padding: var(--spacing-page) 0;
  }
  width: 700px;
  max-width: calc(100% - var(--spacing-page));

  & > * + * {
    margin-top: var(--spacing-page);
  }

  &__title {
    font-size: 3rem;
    @mixin desktop {
      font-size: 6rem;
    }
    font-weight: 900;
    line-height: .8;

    span {
      display: inline-block;
      margin-left: -.05em;
      @mixin background-gradient;
    }
  }

  &__links {
    font-size: 1rem;
    @mixin desktop {
      font-size: var(--fs-l);
    }
  }
}
