.content {
	display: flex;
	flex-direction: column;
	position: relative;
	& > * {
		width: 100%;
		max-width: 750px;
		margin: 0 auto;
	}
	& > * + * {
		margin-top: $space-page;
	}

	&__title {
		font-size: 16vmin;
		@include desktop {
			font-size: 12vmin;
		}
		font-weight: 900;
		//letter-spacing: -.07em;
		line-height: .8;
		margin-top: -$space-page;
		@include desktop {
			margin-top: 0;
		}
		span {
			display: inline-block;
			margin-left: -.05em;
			@include background-gradient;
		}
	}

	&__links {
		font-size: 3.5vmin;
		@include desktop {
			font-size: 2vmin;
		}
	}

	&__app {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		opacity: 0;
		will-change: opacity;
		@include transition(opacity);
	}
}