.page-image {
	background: #fff;
	&__image {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&--thumb {
			filter: url(#blur-page-image) brightness(1.2) contrast(50%);
			opacity: .7;
		}

		opacity: 1;
		will-change: opacity;
		transition: opacity 200ms cubic-bezier(0.46, 0.03, 0.9, 0.28);
		&[aria-hidden="true"] {
			opacity: 0;
		}
	}
}