@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.page {
	&__image {
		background-color: c(black);
		height: 50vh;
		position: relative;
		overflow: hidden;
		&:after {
			content: '';
			background-color: #fff;
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 200vw;
			height: 40vw;
			transform: rotate(5deg) translateX(-50%) translateY(70%);
			box-shadow: 0 0 120px rgba(0, 0, 0, 0.6);
		}
	}
	&__content {
		padding: 0 $space-page $space-page $space-page;
		min-height: 50vh;
		@include desktop {
			min-height: 100vh;
		}
	}
	&__loader {
		position: fixed;
		bottom: $space-item;
		right: $space-item;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: .4rem solid transparent;
		border-bottom-color: c(black);
		z-index: 5000;
		transform: rotate(-45deg);
		animation: spinner .4s infinite linear;
	}

	&__main {
		opacity: 0;
		@include transition();
		will-change: opacity, transform;
		margin-top: $space-page;
	}

	@include desktop {
		&__content {
			width: 50vw;
			padding-top: $space-page;
		}
		&__image {
			position: fixed;
			right: 0;
			top: 0;
			bottom: 0;
			width: 50vw;
			height: 100vh;
			&:after {
				left: 0;
				bottom: 50%;
				width: 20vw;
				height: 120vw;
				transform: rotate(5deg) translateX(-50%) translateY(50%);
			}
		}
		&__loader {
			width: 6rem;
			height: 6rem;
			border-width: .8rem;
			will-change: transform;
		}
	}
}

body.loaded--image.loaded--app:not(.loading--posts) {
	.page__loader {
		animation: none;
	}
}

body.loaded--app {
	.page__main {
		opacity: 1;
	}
}