.social {
	& > * + * {
		margin-left: 2vmin;
	}

	&__link {
		display: inline-block;
		position: relative;
		overflow: hidden;
		padding: .4em;
		background-color: c();
		color: #fff;
		border-radius: .3em;
		svg {
			width: 1em;
			height: 1em;
			display: block;
			position: relative;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			background-image: linear-gradient(-45deg, #{c(gradient)}, #{c(gradient, to)});
			opacity: 0;
			will-change: opacity;
			@include transition(opacity);
		}
		&:hover:before {
			opacity: 1;
		}
	}
}