@keyframes skeleton-loader {
	0% {
		left: -20%;
	}
	30% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}

.title {
	line-height: 1;
	font-size: 1em;
	&__title, &__subtitle {
		display: inline-block;
		color: transparent;
		position: relative;
		overflow: hidden;
		line-height: .8;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			background-color: c(skeleton);
			@include transition(transform);
			will-change: transform;
			transform: translateX(-100%);
		}
		&:before {
			content: '';
			position: absolute;
			bottom: -20%;
			left: -20%;
			top: -20%;
			z-index: 5;
			transform: rotate(20deg) translateX(-10%);
			width: 20%;
			background-color: c(skeleton, shadow);
			filter: blur(20px);
		}
	}
	&__title {
		font-size: 16vmin;
		font-weight: 900;
	}
	&__subtitle {
		font-size: 7vmin;
		font-weight: 400;
		margin-top: 3vmin;
	}
	&--loaded .title {
		&__title, &__subtitle {
			&:after {
				transform: translateX(0);
			}
			&:before {
				animation: skeleton-loader 1.4s infinite linear;
			}
		}
	}
}

body.loaded--fonts {
	.title {
		&__title, &__subtitle {
			color: c();
			&:after {
				transform: translateX(101%);
			}
			&:before {
				animation: none;
				display: none;
			}
		}
	}
}