html {
	font-size: 62.5%;
}

body {
	font-family: Affogato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	@include font-size;
	@include dark {
		color: c(white);
	}
}

a {
	font-weight: 900;
	@include transition();
	cursor: pointer;
}

::selection {
	color: #fff;
	background: c(gradient);
}