html {
	font-size: 62.5%;
}

body {
	font-family: Affogato, sans-serif;
	font-size: 1.8rem;
	@include desktop {
		font-size: 2.4rem;
	}
}

a {
	font-weight: 900;
	@include transition();
	cursor: pointer;
}