.root {
  border-radius: 10px;
  overflow: hidden;
}

.iframe {
  width: 100%;
}

.title {
  color: #fff;
  padding: 0.5em 1em 0.2em 1em;
  line-height: 1.5;
  position: relative;
  font-size: var(--fs-l);

  span {
    position: relative;
  }

  &:before,
  &:after {
    background-color: #000;
    position: absolute;
    inset: 0;
    content: '';
    opacity: 0.7;
  }

  &:after {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    transform: translateY(100%);
  }
}
