.root {
}

.iframe {
  width: 100%;
  display: block;
}

.overlay {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.overlayButton {
  color: #ff0000;
  font-size: 6rem;
  position: absolute;
  inset: 0;
  text-align: center;

  &:hover .overlayButtonIcon {
    color: #c00e0e;
    transform: scale(1.1);
  }

  &:before {
    content: '';
    background-color: #fff;
    width: 0.35em;
    height: 0.35em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-85%) translateX(-50%);
  }
}

.overlayButtonIcon {
  position: relative;
  transition: all 200ms ease-in-out;

  svg {
    display: block;
  }
}
