.root {
}

.iframe {
  width: 100%;
  display: block;
}

.overlay {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.overlayButton {
  color: #d9d9d9;
  font-size: 6rem;
  position: absolute;
  inset: 0;
  text-align: center;

  &:hover .overlayButtonIcon {
    color: #fff;
    transform: translateY(10%) scale(1.1);
  }
}

.overlayButtonIcon {
  position: relative;
  transition: all 200ms ease-in-out;
  transform: translateY(10%);

  svg {
    display: block;
  }
}
