html {
  font-size: 100%;
}

body {
  font-family: Affogato, sans-serif;
  font-size: var(--fs);
}

a {
  font-weight: 900;
  @include transition();
  cursor: pointer;
}

::selection {
  color: #fff;
  background: var(--c-grad);
}
