:root {
  --spacing: 2rem;
  --spacing-section: 3rem;
  --spacing-page: 8vmin;
  --transition-speed: 200ms;

  --c-p: #1d1d1b;
  --c-bkg: #f8f8f8;
  --c-bkg-inverse: #252525;

  --c-grad: #009d89;
  --c-grad-from: #009fb4;
  --c-grad-to: #009c69;

  --fs: 1.2rem;
  --fs-s: 1rem;
  --fs-l: 1.5rem;
  --fs-nav: 2rem;
  --fs-xl: 2rem;
}

@import 'tools/keyframes.spinner';
@import 'tools/mixins';
@import 'reset';
@import 'font';
@import 'typography';

@import 'components/page';
@import 'components/content';
@import 'components/link';
@import 'components/app';
@import 'components/nav';
@import 'components/editor';
