html {
  font-size: 100%;
}

body {
  font-size: var(--fs);
  line-height: 1.2;
  color: var(--c-p);
}

a {
  font-weight: 900;
  @include transition();
  cursor: pointer;
}

::selection {
  color: #fff;
  background: var(--c-grad);
}
