.root {
  border-radius: 10px;
  background-color: var(--c-card-bkg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--c-card-b);
  gap: var(--spacing-small);
  display: flex;
  overflow: hidden;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.title {
  font-size: var(--fs);
}

.content {
  padding: var(--spacing-small);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: var(--fs-s);
  margin-top: var(--fs-s);
}

.image {
  width: 33%;
  flex-shrink: 0;
}

.links {
  margin: auto 0 0 0 !important;
  padding: var(--spacing-small) 0 0 0 !important;
  width: 100%;
  list-style: none;
}

.linkElement {
  display: inline-block;
  font-size: var(--fs-s);
  position: relative;

  & + .linkElement {
    margin-left: 0.75em;
    padding-left: 0.75em;

    &:after {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      content: '|';
    }
  }
}

.link {
  text-decoration: underline;
  display: flex;
  align-items: center;
  font-weight: normal;
  color: var(--c-p);
}

.linkIcon {
  margin-right: 0.3em;
}
