.root {
  display: grid;
  grid-gap: var(--spacing);
  align-items: stretch;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gapBig {
  grid-gap: var(--spacing-page-big);
}

.onePerRow {
  grid-template-columns: repeat(1, 1fr);
}
