.root {
}

.titleContainer {
  display: block;
}

.title {
  font-size: 6rem;
  font-weight: 800;
  line-height: 0.8;
  display: inline-block;
  margin-left: -0.05em;
  @mixin background-gradient;

  @mixin mobile {
    font-size: 3rem;
  }
}
