.root {
}

.titleContainer {
  display: block;
}

.title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 0.8;
  display: inline-block;
  margin-left: -0.05em;
  @mixin background-gradient;

  @mixin mobile {
    font-size: 3rem;
  }
}

.social {
  margin-top: var(--spacing-page);
}

.socialLink {
  font-size: var(--fs) !important;
  @mixin mobile {
    font-size: 1rem !important;
  }
}

.socialLink + .socialLink {
  margin-left: 1rem;
}
