.root {
}

.nav {
  text-align: center;
  margin-top: var(--spacing);
}

.link {
  font-weight: 400;
  text-decoration: underline;
  color: var(--c-p);
  font-size: var(--fs-s);
}

.link + .link {
  margin-left: 1em;
}

.link:last-child {
  display: block;
  margin-left: 0;
  margin-top: 0.5em;
}

.linkActive {
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: center;
}

.socialLink {
  font-size: var(--fs) !important;
  @mixin mobile {
    font-size: 1rem !important;
  }
}

.socialLink + .socialLink {
  margin-left: 1rem;
}
