.root {
  background-color: var(--c-bkg);
  padding: var(--spacing-small) 0;

  .shadowLeft,
  .shadowRight {
    content: '';
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 999;
  }

  .shadowLeft {
    left: calc(var(--spacing-v-small) * -1);
    background: linear-gradient(to right, var(--c-bkg), transparent);
    opacity: 0;
  }

  .shadowRight {
    right: calc(var(--spacing-v-small) * -1);
    background: linear-gradient(to left, var(--c-bkg), transparent);
    opacity: 0;
  }

  &.hasShadowLeft .shadowLeft {
    opacity: 1;
  }

  &.hasShadowRight .shadowRight {
    opacity: 1;
  }

  /*&::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    width: 1rem;
    left: -0.5rem;
    background-color: var(--c-bkg);
    z-index: -1;
  }

  &::after {
    left: auto;
    right: -0.5rem;
  }*/
}

.nav {
  display: flex;
  gap: 0.8em;
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
  margin-left: calc(var(--spacing-v-small) * -1);
  margin-right: calc(var(--spacing-v-small) * -1);

  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0 var(--spacing-v-small);
  list-style: none;
}

.linkWrapper {
  text-decoration: none;
  font-weight: 900;
  font-size: var(--fs-nav);
}

/*.linkWrapper + .linkWrapper {
  margin-left: 0.8em;
  display: inline-block;
}*/

.link {
  font-size: 1em;
  color: var(--c-p);
  text-decoration: none;
  font-weight: 900;
}

.linkActive {
  @mixin background-gradient;
}
