.root {
}

.title {
}

.content {
  & > * + * {
    margin-top: 1rem;
  }

  & > * + h2 {
    margin-top: var(--spacing-section);
  }

  p {
    line-height: 1.5;
  }

  p.has-medium-font-size {
    font-size: var(--fs-l);
  }
}

.title + .content {
  margin-top: var(--spacing-section);
}
