.root {
  min-height: 100vh;
}

.image {
  height: 100vh;
  width: 40vw;
  bottom: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 10;
}

.shadow {
  content: '';
  position: fixed;
  background-color: var(--c-bkg);
  top: 50vh;
  right: 40vw;
  transform: rotate(5deg) translateY(-50%) translateX(20%);
  height: 120vh;
  width: 20vh;
  box-shadow: 0 0 120px #0009;
  z-index: 20;
}

.main {
  position: relative;
  width: 60vw;
  z-index: 50;
  background-color: var(--c-bkg);
}

.mainContent {
  margin: 0 auto;
  padding: var(--spacing-page) 0;
  width: 700px;
  max-width: calc(100% - var(--spacing-page));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  margin-top: var(--spacing-page);
}

.header {
}

.content {
  margin-top: var(--spacing-page);
}

.footer {
  margin-top: auto;
  padding-top: var(--spacing-page);
}

@mixin mobile {
  .image {
    position: fixed;
    height: 40vh;
    width: 100%;
  }

  .shadow {
    position: absolute;
    right: 0;
    top: 44vh;
    height: 20vh;
    width: 100vw;
    transform: translateY(-50%) skewY(7deg);
  }

  .main {
    width: 100%;
    margin-top: 40vh;
    min-height: 60vh;
  }

  .mainContent {
    padding: 0 0 var(--spacing-section) 0;
  }
}
