.root {
}

.title {
  display: flex;
  align-items: center;
}

.heading {
}

.titleRight {
  margin-left: auto;
}

.content {
  & > * + * {
    margin-top: 1rem;
  }

  & > * + h2 {
    margin-top: var(--spacing);
  }

  p {
    line-height: 1.5;
  }
}

.title + .content,
.title + .intro {
  margin-top: var(--spacing-large);
}
.intro + .content {
  margin-top: var(--spacing-v-large);
}

.intro {
  font-size: var(--fs-xl);

  @mixin mobile {
    font-size: var(--fs-l);
  }

  p {
    line-height: 1.5;
  }
}
