@define-mixin background-gradient {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    -90deg,
    var(--c-grad-from),
    var(--c-grad-to)
  );
  -webkit-background-clip: text;
  text-decoration: none;
}

@define-mixin mobile {
  @media (max-width: 900px) {
    @mixin-content;
  }
}

@define-mixin transition $speed: 200ms, $property: all, $function: ease-in,
  $delay: 0ms {
  transition: $speed $property $function $delay;
}
