.root {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0.4em 0.6em;
  background-color: var(--c-p);
  color: var(--c-social);
  border-radius: 0.3em;
  align-items: center;
  transition: all 200ms ease-in-out;
  font-size: var(--fs);
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(
      -45deg,
      var(--c-grad-from),
      var(--c-grad-to)
    );
    opacity: 0;
    will-change: opacity;
    z-index: 1;
    @mixin transition;
  }

  &:hover::before {
    opacity: 1;
  }
}

.isSquare {
  padding: 0.4em;
}

.size-small {
  font-size: var(--fs-s);
}

.size-medium {
}

.size-large {
  font-size: var(--fs-l);
}

.icon {
  position: relative;
  z-index: 1;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1em;
  height: 1em;
  color: #fff;
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
}

.isLoading {
  .loader {
    opacity: 1;
  }

  .content,
  .icon {
    opacity: 0;
  }
}

.isDisabled {
  pointer-events: none;
  opacity: 0.8;

  &::before {
    opacity: 0;
  }

  .icon {
    color: var(--c-p);
  }
}

.hasContent .icon {
  margin-right: 0.4em;
}

.iconRight {
  flex-direction: row-reverse;

  &.hasContent .icon {
    margin-right: 0;
    margin-left: 0.4em;
  }
}

.content {
  position: relative;
  z-index: 1;
}
