.images {
  .image {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .img {
    width: 100px;
  }

  .image + .image {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dashed var(--c-border);
  }
}

.links {
}

.link {
  display: flex;
  margin-top: 0.4em;
  padding-top: 0.4em;
  border-top: 1px dashed var(--c-border);

  span {
    font-weight: normal;
    flex: 150px 0 0;
  }
}

.content {
  & > * + h2 {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}
