.app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	&__nav {
		position: sticky;
		z-index: 9999;
		padding: #{$space-page/2};
		margin: -#{$space-page/2};
		background-color: c(white, bkg);
		@include dark {
			background-color: c(black, bkg);
		}
		top: 0;
	}
	&__content {
		margin-top: $space-page;
	}
	&__footer {
		margin-top: auto;
		padding-top: $space-page;
	}
}