.card-list {
	@include desktop {
		display: flex;
		flex-wrap: wrap;
	}
}

.card {
	& + .card {
		margin-top: $space-page/2;
	}

	@include desktop {
		margin-top: $space-page/2;
		width: calc(50% - #{$space-page/4});
		&:nth-child(even) {
			margin-left: $space-page/2;
		}
	}
	padding: $space-page/2;
	border-radius: 10px;
	background-color: c(white);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #e6e6e6;
	@include transition();
	&:hover {
		transform: scale(1.01);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.18 );
	}

	&__title {
		font-weight: 900;
		@include font-size();
		margin-top: .1em;
	}

	&__subtitle {
		@include font-size(.8);
		margin-top: $space-page/4;
	}

	&__date {
		@include font-size(.6);
	}
}