$languages: (
	bash: #89e051,
	php:#4F5D95,
	css:#563d7c,
	javascript:#f1e05a,
	html:#e34c26
);

.card-list {
	@include desktop {
		display: flex;
		flex-wrap: wrap;
	}
}

.card {
	& + .card {
		margin-top: $space-page/2;
	}

	display: flex;
	flex-direction: column;

	@include desktop {
		margin-top: $space-page/2;
		width: calc(50% - #{$space-page/4});
		&:nth-child(even) {
			margin-left: $space-page/2;
		}
	}
	padding: $space-page/2;
	border-radius: 10px;
	background-color: c(white);
	@include dark {
		background-color: c(black);
	}
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #e6e6e6;
	@include dark {
		border-color: #1a1a1a;
	}
	@include transition();

	&__title {
		font-weight: 900;
		margin-bottom: $space-page/4;
		@include font-size();
	}

	&__subtitle {
		@include font-size(small);
		margin-bottom: $space-page/4;
	}

	&__date {
		@include font-size(x-small);
		margin-bottom: .1em;
	}

	&__language {
		display: inline-block;
		padding-left: 1em;
		position: relative;
		& + .card__language {
			margin-left: .7em;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-60%);
			width: .6em;
			height: .6em;
			border-radius: 50%;
			background-color: c(gradient);
		}
		@each $lang, $hex in $languages {
			&--#{$lang}:before {
				background-color: $hex;
			}
		}
	}

	&__languages {
		@include font-size(small);
		margin-bottom: $space-page/4;
	}

	&__links {
		margin-top: auto;
		@include font-size(small);
	}

	&__link {
		@include background-gradient;
		i {
			-webkit-text-fill-color: c(gradient, from);
			color: c(gradient, from);
			display: inline-block;
			will-change: transform;
			@include transition(transform, fast);
		}
		& + .card__link {
			margin-left: 1.5em;
		}
		&:hover i {
			transform: translateX(10%);
		}
	}
}