.editor {
	& + .editor {
		margin-top: $space-page;
	}

	& > * + * {
		margin-top: 1em;
	}

	& > h2 + * {
		margin-top: .5em;
	}

	.big + * {
		margin-top: $space-page;
	}

	p, li {
		line-height: 1.5;
		&.big {
			line-height: 1.2;
		}
		@include font-size(.9);
	}

	ul, ol {
		padding-left: 1.2em;
		li + li {
			//margin-top: .2em;
		}
	}

	ul {
		list-style: none;
		li {
			position: relative;
			&:before {
				content: '';
				height: .4em;
				width: .4em;
				border-radius: 50%;
				background-color: c(gradient);
				position: absolute;
				display: block;
				left: -1em;
				top: .6em;
			}
		}
	}

	.big {
		@include font-size(1.4);
	}

	h2, h3 {
		@include font-size(1.2);
	}

	a {
		@include background-gradient;
	}
}