html {
  font-size: 100%;
}

body {
  font-size: var(--fs);
  line-height: 1.2;
  color: var(--c-p);
}

a {
  cursor: pointer;
  font-weight: bold;
  color: var(--c-grad);
  @mixin transition;
}

::selection {
  color: #fff;
  background: var(--c-grad);
}
